<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Apostador de Loterias - Resultados</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/estilo.css">
</head>
<body>
	<div th:replace="fragmentos/fragmentos :: cabecalho"></div>
	<div class="container">
		<h3>Consulta de Resultados</h3>
		<form action="/resultados/consultar" method="POST" class="form-horizontal"  th:object="${resultadoFilter}">
			<div class="row">
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('idLoteria')}">
						<label th:errors="*{idLoteria}" class="validation-message"></label>
					</div>
					<select class="form-control" th:field="*{idLoteria}">
		  				<option th:each="loteriasEnum : ${T(br.com.avsouza7.enuns.LoteriaEnum).values()}" 
		  						th:value="${loteriasEnum.idLoteria}" 
		  						th:text="${loteriasEnum.nome}">
		  				</option>
					</select>
				</div>
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('idGrupo')}">
						<label th:errors="*{idGrupo}" class="validation-message"></label>
					</div>
					<select class="form-control" th:field="*{idGrupo}">
		  				<option th:each="grupoEnum : ${T(br.com.avsouza7.enuns.GrupoEnum).values()}" 
		  						th:value="${grupoEnum.idGrupo}" 
		  						th:text="${grupoEnum.nmGrupo}">
		  				</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-md-2">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('idConcurso')}">
						<label th:errors="*{idConcurso}" class="validation-message"></label>
					</div>
					<label>Código do Concurso</label> 
					<input type="number" class="form-control" th:field="*{idConcurso}">
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Consultar</button>
		</form>
		<br>
		<table>
			<h4>Dezenas Sorteadas</h4>
			<tr th:each="sorteio: ${sorteios}" style="margin: 10px">
				<td th:each="dezena: ${sorteio.dezenas}" style="margin: 10px">
					<p class="dezena-em-bola" th:classappend="numero-acertado" th:text="${dezena.nuDezena}"></p>
				</td>
			</tr>
		</table>
		<table>
			<tr th:each="sorteio: ${sorteios}" style="margin: 10px">
				<td style="margin: 10px">
					<p class="texto-simples">Acumulado próximo concurso:</p>
				</td>
				<td style="margin: 10px">
					<p class="premio-valor" th:text="${sorteio.valorAcumuladoFormatado}"></p>
				</td>
			</tr>
			<tr th:each="sorteio: ${sorteios}" style="margin: 10px">
				<td style="margin: 10px">
					<p class="texto-proximo-sorteio">Próximo sorteio:</p>
				</td>
				<td style="margin: 10px">
					<p class="premio-valor" th:text="${sorteio.dtProximoSorteioFormatado}"></p>
				</td>
			</tr>			
		</table>				
		<table>
			<h3>Suas Apostas</h3>
			<tr th:text="${totalDoSeuPremio}" style="margin: 100px" />
			<tr th:text="${valorDoPremio}" class="premio-valor" style="margin: 100px" />
			<tr th:each="resultado: ${resultados}" style="margin: 10px">
				<td th:each="dezena: ${resultado.dezenas}" style="margin: 10px">
					<p class="dezena-em-bola" th:classappend="${dezena.foiSorteada} ? numero-sorteado : numero-nao-sorteado" th:text="${dezena.nuDezena}"></p>
				</td>
				<td style="margin: 10px">
					<p class="dezena-em-bola" th:classappend="numero-acertado" th:text="${resultado.nuAcertos}"></p>
				</td>
				<td style="margin: 10px">
					<p class="premio-valor" th:text="${resultado.vlPremio}"></p>
				</td>				
			</tr>
		</table>
	</div>
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>